/* Applies to all pages */

body { background: #000;}

.right { float:right;}
.left {float:left;}
.pad_bottom { padding-bottom: 30px;}
.pad_bottom_20 {padding-bottom: 20px;}
.pad_bottom_10 {padding-bottom: 10px;}
.pad_6 { padding:6px; }
.pad_top_10 {padding-top: 10px;}
.margin_bottom_10 {margin-bottom:10px;}
.margin_left_20 {margin-left:20px;}

.line {border-bottom: 1px dashed #cdcdcd; margin-bottom: 10px;}
.line_right {border-right: 1px dashed #cdcdcd; padding-right: 30px;}

h1, h2, h3, h4, h5 {
  font: normal normal normal 2em/1.5em Tahoma, Arial, sans-serif;
}

ul {
  list-style: none;
}

li { margin-left: 0px;}

a { color:#000;}
a:hover { color:#317ce9;}

.blue { color:#1c4581;}
.white { color: #fff;}

h1,h2 { font-size: 1.75em; margin-bottom: 15px;}
h3 { font-size: 1.5em; margin-bottom: 10px;}
h4 {font-size: 1.25em;  margin-bottom: 6px; line-height: 1.25em;}
h5 { font-weight: bold; font-size: 1.1em; line-height: 1.1em; margin-bottom: 6px;}

table {
  border: 1px solid #ddd;
  padding:3px;
  background: #fff;
  font-size: 12px;
  border-collapse: separate;
}
table th {
  background-color: #000;
  color: #fff;
  padding: 5px;
  border:2px solid #fff;
}
table th.actions_2 {
  width: 52px;
}
table th.actions_4 {
  width: 92px;
}
table tr.even {
  background-color: #eee;
}
table td {
  padding: 0 10px;
  border:2px solid #fff;
}

#header {
  background: #000 url('/images/header_bg.png') no-repeat top center;
  width: 100%;
  padding: 48px 0 0 0;
  height: 113px;
}

#footer {
  background: #000 url('/images/footer_bg.png') no-repeat top center;
  width: 100%;
  height: 29px;
  overflow: hidden;
  color:#fff; 
  padding: 12px 0;  
  font-size: 10px;
}

#content {
  background: #f1f1f1;
  min-height: 600px;
}

#lead_content {
  background: #fff;
  padding: 40px 0 30px;
  border-bottom: 1px solid #aeaeae;
}

#lead_content p { font-size: 115%; }

#lead_content.pad_bottom { padding-bottom: 80px;}

#main_content {
  padding: 20px 0;
}

#header h1 {
  background: transparent url('/images/logo.png') no-repeat top left;
  font-size: 2em;
  height: 62px;
  width: 351px;
  margin-left: -30px;
}

#header h1 a {
  text-indent: -1000px;
  display: block;
}

#header h2 {
  background: transparent url('/images/enterprise_agile_slogan.png') no-repeat center right;
  font-size: 1em;
  height: 26px;
  width: 284px;
  text-indent: -999px;
  margin-top: 20px;
  margin-left: 15px;
}

ul.navigation li, #footer {
  font: normal normal normal 11px Tahoma, Arial, sans-serif;
  text-transform:uppercase;
}

ul.navigation li {
  float: left;
  margin: 0 2px 0 0;
}

ul.navigation.tab li a {
  display: block;
  padding: 12px;
  text-decoration: none;
  letter-spacing: 2px;
  color: #fff;
  background: #1c4581;
  
}

ul.navigation.tab li a.first {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
}

ul.navigation.tab li a.last {
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
}

ul.navigation.tab li a.active, ul.navigation.tab li a:hover {
  background: #fff;
  color: #444;
}

ul.navigation.links li a { 
  color:#fff;
  text-decoration: none;
  padding: 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: transparent;
}

ul.navigation.links li a:hover {
  color: #000;
  background-color: #fff;
}

ul.rss-items li { margin: 0px 0px 10px 0px; vertical-align:baseline;}
li.rss-item br { display:none;}
li.rss-item span, div.help, div.caption  { font-size: 10px; text-transform: uppercase; color:#aeaeae; margin-left: 10px; }

div.help, div.caption { margin-top: 6px; margin-left: 0px;}
div.caption { line-height: 14px; text-transform:none; font-size: 11px; color:#1c4581;}
div.caption a {color:#1c4581;}
div.caption a:hover {color:#000;}


#secondary_nav { 
  float: right;
  margin-bottom: 0;
}

div#text_container {
  margin-top: -50px;
  background: transparent url('/images/bg_text_block.png') no-repeat bottom right;
  padding-bottom: 40px;
}

div#text_container_top {
  border-right: 1px solid #aeaeae;
  border-left: 1px solid #aeaeae;
  border-top: 1px solid #aeaeae;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  padding-top: 18px;
  background: #fff;
}

div#text_container_inner {
  padding: 0 20px;
  font-size: 12px;
}

/* Code for specific pages */

/* home */

#teaser_container { min-height: 250px; }

#lead_content img {
  float: right; 
  width: 150px;
  padding: 8px;
  margin-left: 20px; 
  margin-top: 35px;
}

#teaser img{
  width: 300px;
  border: 1px solid #efefef; 
  margin-top: 0px;
}

#teaser .buttons { text-align: center;}

#teaser .buttons a {
  padding: 6px 12px;
  font: normal normal normal 14px Tahoma, Arial, sans-serif;
  text-transform:uppercase;
  background: #7ebb09;
  border: 1px solid #efefef;
  color: #fff;
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-right: 12px;
}

#teaser .buttons a:hover {
  background: #a7f80d;
  color: #000;
}


#offerings h3 { font: bold 13px Tahoma, Arial, sans-serif; margin-bottom:6px;}
#offerings, #featured, #current_projects { border-bottom: 1px solid #cdcdcd;}

#featured { margin-top: 20px;}
#featured h3 { font-size: 1.5em;}

#special_feature h4 { padding: 6px 0 0; text-transform: uppercase;}

/* services */

#services p {margin-bottom: 10px;}

#services img, #services_sub img, #projects img { 
  border: 1px solid #cdcdcd; 
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  padding: 3px;
}

#services_sub img { margin-left: 10px; width:50px; height:64px;}
#services_sub p { margin-bottom: 0px;}

#services h2 a {
  color:#000;
  text-decoration: none;
}

#services h2 a:hover {
  color:#1c4581;
}

#services h2 a.blue {
  color:#1c4581;
}

#services h2 a.blue:hover {
  color:#000;
}

ul.grouped { float:left; margin-right: 20px;}

/* work */

#clients {
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border: 1px solid #cdcdcd;
  background: #efefef;
  padding: 10px;
  
}

#projects div.project_description ul { list-style: disc; margin-left: 20px;}
#about div.box { width: 320px;}
#about div.box.right { padding-left: 20px;}
#about div.box.right li { margin-left: 30px;}

div.secondary_links { font-size: 80%; text-align: center;}
div.secondary_links a {color:#fff; text-decoration: none;}
div.secondary_links a:hover {color:#cecece; text-decoration: underline;}

ul.list {list-style:disc;}
ul.list li {margin-left: 20px;}

div.fudge { margin-left: 5px;}
#current_projects a {color:#cecece;}
#current_projects a:hover {color:#fff;}

#current_projects h4{ margin: 10px 10px 0 10px; color:#FFF; font:18pt Arial, sans-serif; letter-spacing:-1px; font-weight: bold;  }

.boxcontainer {
  background: #fff;
  padding: 10px;
  border: solid 1px #cdcdcd; 
}

.boxgrid { 
	height: 260px; 
	background:#161613; 
	border: solid 1px #cdcdcd; 
	overflow: hidden; 
	position: relative;
} 

	.boxgrid img { 
		position: absolute; 
		top: 0; 
		left: 0; 
		border: 0; 
	}
	
	.boxgrid p { 
		padding: 0 10px; 
		color:#afafaf; 
		font-weight:bold; 
		font:10pt "Lucida Grande", Arial, sans-serif; 
	}

.boxcaption { 
	float: left; 
	position: absolute; 
	background: #000; 
	height: 100px; 
	width: 100%; 
	opacity: .8; 
	/* For IE 5-7 */
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	/* For IE 8 */
	-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
	.captionfull .boxcaption {
		top: 260;
		left: 0;
	}
	.caption .boxcaption {
		top: 220;
		left: 0;
	}
