<div id="footer">
  <div id="footer_content" class="container_12">
    <div class="grid_4 prefix_1 suffix_1">
      <ul class="navigation links">
        <li><a href="/">Home</a></li>
        <li><%= link_to "Services", services_path %></li>
        <li><a href="/work">Work</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="http://blog.netphase.com">Blog</a></li>
        <!--><li><a href="/press">Press</a></li> -->
        <li><a href="/contact_us">Contact</a></li>
      </ul>
      <div class="secondary_links">
        <%= link_to "privacy policy", privacy_path %>
      </div>
    </div>
    <div class="grid_5 suffix_1">
      <div class="right">Copyright &copy; 2009 Netphase, LLC. All rights reserved.</div>
    </div>
    <div class="clear"></div> 
  </div>
</div>