<h2>Thanks For Your Consideration</h2>
<p>You may either fill out the short form below or use one of our other contact methods listed and one of our solutions specialists will contact you shortly to briefly discuss your project and schedule a free consultation.</p>
<%= render :partial => "contacts/form"%>
