<% content_for :lead_content do %>
  <div id="contact_lead">
    <h1>Contact Us</h1>
    <p>We look forward to finding out more about your project! Simply fill out the form below and one of our solutions specialists will be in touch shortly to schedule your FREE consultation or answer any questions you may have.</p>
  </div>
<% end %>

<div id="teaser" class="grid_10 alpha">
<%= render :partial => "contacts/form" %>
</div>
<div class="clear"></div>