<% content_for :lead_content do %>
  <div id="lead">
    <h1>Email Confirmation</h1>
    <p>Thanks for confirming your email address for our newsletter!</p>
  </div>
<% end %>

<div id="email_confirm" class="grid_9 alpha">
  <p>We are honored that you have taken this step to insure that your copy gets to you without delay.</p>
  <p>Now that you have become part of our family, we would encourage you to visit our blog at <%= link_to "http://blog.netphase.com" %> and leave us a comment here and there. We would love to know what you think!</p>
  <p>Cheers!</p>
  <p>The Netphase Team</p>
</div>
<div class="clear"></div>