<% content_for :lead_content do %>
  <div id="lead">
    <h1>NaNoWriMo Participants Get Their Mojo On with NaNoMojo!</h1>
  </div>
<% end %>

<div id="nanomojo" class="grid_9 alpha">

<div class="right margin_left_20">
<%= link_to image_tag('avail_in_app_store_300.png'), "http://itunes.com/apps/nanomojo"%><br/>
<%= link_to image_tag('nano_in_phone_300.png'), "http://itunes.com/apps/nanomojo"%>
</div>

<h3>Get The Most Out of NaNoWriMo with NaNoMojo, the Only NaNoWriMo App on iTunes</h3>
<p>Participating in this year's NaNoWriMo? Then you NEED NaNoMojo!</p>

<p>NaNoMojo turns the National Novel Writing Month competition into a truly social experience. We are NaNoWriMo participants, too, and we created this App just for you! </p>

<p>NaNoMojo helps you keep track of yours all of your friends' word counts, keeps you up-to-date on the latest NaNoNews, and even helps you write your book with the included Dictionary, Thesaurus and Reference.com look ups!</p>

<p>"It's the Swiss Army Knife of NaNo Apps."  -  Chris in NC.</p>

<p>Actually Chris, it's the ONLY NaNoWriMo App. But we appreciate the props :-)</p>

<h4>FEATURES</h4>
<ul class="list">
<li>Real-time tracking of your NaNoWriMo word count</li>
<li>Real-time tracking of your friends' word counts</li>
<li>Quick links to your and your buddies' NaNoWriMo profiles</li>
<li>Avatars of you and your buds downloaded automatically</li>
<li>Easy to add and remove buddies from your list</li>
<li>Built-in search for Dictionary.com, Thesaurus.com and Reference.com!</li>
<li>News from NaNoWriMo delivered straight to your phone!</li>
<li>Not to mention the ever-popular floating Viking helmets!</li>
</ul>

<p>Get your MOJO on in this year's NaNoWriMo. <%= link_to "Download NaNoMojo today", "http://itunes.com/apps/nanomojo"%>!</p>


</div>

<div class="clear"></div>
