<% content_for :lead_content do %>
  <div id="lead">
    <h1>Subscription Confirmation</h1>
    <p>Thanks for signing up for our newsletter!</p>
  </div>
<% end %>

<div id="email_confirm" class="grid_9 alpha">
  <p>We look forward to sharing our tips, strategies, happenings and other interesting things with you as time rolls on.</p>
  <p>If you get a chance, please stop by our blog at <%= link_to "http://blog.netphase.com" %>.
  <p>Have a great day!</p>
  <p>The Netphase Team</p>
</div>
<div class="clear"></div>