<% content_for :lead_content do %>
  <div id="lead">
    <h1>Unsubscribe</h1>
    <p>We hate to see you go! But we understand; we hate spam, too.</p>
  </div>
<% end %>

<div id="email_confirm" class="grid_9 alpha">
  <p>Email inboxes are flooded now-a-days, and we certainly don't want to add any additional burden on your mail client. No hard feelings. Should you find that you would like to keep informed of all the good stuff going on out there in Netphase world, by all means, we'd love to have you back!</p>
  <p>If you get a chance, please stop by our blog at <%= link_to "http://blog.netphase.com" %>.
  <p>Have a great day!</p>
  <p>The Netphase Team</p>
</div>
<div class="clear"></div>